body {
    background-color: #e0e0e0;
}

/*header {*/
/*    background-color: #ffffff;*/
/*}*/
/**/
/*aside {*/
/*    background-color: #ffffff;*/
/*    float: left*/
/*}*/
/**/
/*footer {*/
/*    background-color: #ffffff;*/
/*}*/

.center {
    width: 600px;
    height: 800px;
    background-color: #a8a8a8;
    border-radius: 5%;
    text-align: center;
    margin: auto;
}

.center_table td[colspan="value"] {
    background: #bb0000;
}

.center_table td[colspan="variable"] {
    background: #91ef91;
}

.center_table td{
    border: 1px solid Black;
    padding: 10px;
    font-size: 20px;
    background: #ffffff;
}

